.nav-container {
  border: 2px solid blue;
  background-color: blue;
  color: white;
}

.navlist {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
